@import './valiables.scss';

#barcode {
    width: 100%;
    text-align: center;
    * {
        margin: 0 auto;
    }
    #scanner-container {
        width: 90%;
        height: 400px;
        background-color: aqua;
        .drawingBuffer {
            width: 100px;
            height: 100px;
        }
    }
    #container {
        width: 90%;
        height: 400px;
        border: 1px solid $BorderGray;
    }
}