//Background
$Back1 : #77d82d;
$Back2 : #5dc40f;
$Back3 : #54ae0f;

$white : #ffffff;
$white- : #f4f4f4;

$BackBlue : #0078FF;
$BackSkyBlue : #449eec;
$BackSkyBlue- : #5FC3E4;
$BackSky : #14D3FF;
$BackSky- : #9de5f5;
$BackWhiteGray : #e3e3e3;
$BackGray : #c2c2c2;
$BackDarkGray : #999999;
$BackExcel : #1DDB16;

//border
$BorderGray : #a2a2a2;
$BorderExcel : #00B700;

//input
$inputWhite : #fcfcfc;
$inputGray : #9d9d9d;

//font color
$fontGray : #434343;
$fontGray- : #878787;
$fontWhite : #fcfcfc;
$fontOrange : #FD8242;

//table
$tableBorder : #878787;
$tableBorder- : #e3e3e3;
$tableBack1 : #f2f2f2;
$tableBack2 : #f6f6f6;

//shadow
$shadowGray : #bdbdbd;

//size
$xxx-small : 0.80em;
$xx-small : 0.85em;
$x-small : 0.9em;
$small : 0.95em;
$medium : 1.0em;
$large : 1.05em;
$x-large : 1.1em;
$xx-large : 1.15em;