@import "./valiables.scss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard;
}

body {
  margin: 0;
}

.contents {
  margin: 60px 30px 120px 30px;
}

.start_contents {
  margin: 50px 30px 0px 30px;
}

input,
textarea {
  box-shadow: $BorderGray 0px 0px 3px;
  padding: 6px 6px;
  border-radius: 5px;
  border: none;
  margin: 5px auto;
}

button {
  padding: 10px;
  font-size: medium;
  background-color: $v2Back2;
  color: $white;
  border: none;
  border-radius: 3px;
}

.input_select,
.input_date {
  display: inline-block;
  font-size: $xx-small;
  line-height: 20px;
  width: 170px;
  height: 28px;
  padding-left: 5px;
  box-shadow: $BorderGray 0px 0px 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.3em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.input_select::-ms-expand,
.input_date::-ms-expand {
  display: none;
}

.input_select:hover,
.input_date:hover {
  border-color: $BorderGray;
}

input:focus,
.input_select:focus,
.input_date:focus {
  border-color: none;
  box-shadow: 0 0 1px 3px $v2Back1;
  box-shadow: 0 0 0 3px $v2Back1;
  color: #222;
  outline: none;
}

*[dir="rtl"] .input_select,
:root:lang(ar) .input_select,
:root:lang(iw) .input_select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.input_select:disabled,
.input_select[aria-disabled="true"],
.input_date:disabled,
.input_date[aria-disabled="true"] {
  color: $fontGray;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.input_select:disabled:hover,
.input_select[aria-disabled="true"],
.input_date:disabled:hover,
.input_date[aria-disabled="true"] {
  border-color: $BorderGray;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#message {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
