@import "./valiables.scss";

#chat {
  margin: 0px auto;
  #book_info {
    width: 100%;
    height: 100px;
    padding: 50px 0 0;
    background-color: $v2Back2;
    img {
      width: 80px;
      margin: 10px 20px;
      border: 1px solid $BorderGray;
    }
    p {
      position: absolute;
      line-height: 100px;
      color: $white;
      font-weight: bold;
      margin: 0 auto;
      display: inline-block;
    }
  }
  #chat_messages {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    width: 90%;
    margin: 0px 0px 0px 20px;
    padding: 0 0 100px 0;
    overflow: auto;
    #you,
    #me {
      float: left;
      width: 70%;
      padding: 8px 5px;
      margin: 8px 0px;
      border: 1px solid $v2Back1;
      border-radius: 10px;
      #message {
        text-align: left;
        margin: 0;
        font-size: medium;
      }
      #time {
        margin: 0;
        text-align: right;
        font-size: xx-small;
      }
    }
    #you {
      background-color: $v2Back2;
      color: $white;
      font-weight: bold;
    }
    #me {
      float: right;
      #message {
        margin: 0;
        text-align: left;
      }
      #time {
        margin: 0;
        text-align: right;
        font-size: xx-small;
      }
    }
  }
  #rent_info {
    width: 100%;
    height: 40px;
    line-height: 10px;
    position: fixed;
    bottom: 60px;
    color: $white;
    background-color: $v2Back1;
    text-align: center;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
  }

  #send {
    width: 100%;
    height: 60px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $v2Back1;
    input {
      width: 240px;
      height: 30px;
      margin-right: 10px;
    }
    button {
      width: 50px;
      height: 41px;
      background-color: $white;
      color: $v2Back2;
      font-weight: 600;
      padding: 5px;
    }
  }
}

#chat_list {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  text-align: center;
  margin-top: 80px;
  #list_item {
    padding: 10px 0px;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px $BorderGray;
    text-align: left;
    svg {
      color: $BorderGray;
      margin: 0px 15px;
    }
    #info * {
      flex: 1;
      line-height: 35px;
    }
    #std_num {
      font-weight: 700;
    }
  }
}
