@import "./valiables.scss";

.hidden {
  width: 0;
  height: 0;
  display: none;
}

#std_main {
  margin-top: 80px;
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  #search_result {
    margin: 30px auto;
    #item_wrap {
      width: 100%;
      padding: 10px 0px;
      border: 1px solid $BorderGray;
      border-radius: 5px;
      animation: fadein 2s;
      -webkit-animation: fadein 2s;
      margin-bottom: 20px;
      img {
        margin-left: 10px;
      }
      #info {
        margin: 10px;
        #title {
          font-weight: bold;
          margin-bottom: 5px;
        }
        #content {
          font-size: small;
          margin-bottom: 5px;
        }
      }
    }
  }
  .menu {
    animation: fade-in-right 1s;
    -webkit-animation: fade-in-right 1s;
    width: 300px;
    height: 800px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: $white;
    border-right: 1px solid $BorderGray;
    .x_icon {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    #item1 {
      margin-top: 70px;
    }
    .menu_item {
      padding: 10px 0px;
      font-size: large;
      font-weight: bold;
    }
  }
  #menu_icon {
    position: fixed;
    top: 15px;
    left: 10px;
    z-index: 2;
    color: $white;
  }
  #search_input {
    width: 90%;
    height: 25px;
  }
  #search_button {
    width: 27px;
    top: 90px;
    right: 44px;
    margin: 0 auto;
    position: absolute;
    float: right;
    color: $v2Back2;
  }
  #hidden {
    height: 0;
  }
}

#std_my_list {
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  margin-top: 80px;
  .list_item {
    padding: 10px 0;
    border: 1px solid $BorderGray;
    border-radius: 5px;
    margin-bottom: 20px;
    #table1 {
      margin: 0 auto;
      padding-bottom: 15px;
      border-bottom: 1px solid $BackDarkGray;
      img {
        margin-left: 10px;
      }
      #info {
        * {
          flex: 1;
          line-height: 40px;
        }
        #title {
          font-weight: bold;
        }
      }
    }
    #table2 {
      width: 90%;
      margin: 0 auto;
      padding: 10px 0;
      * {
        flex: 1;
        margin: 2px auto;
      }
      #td1 {
        text-align: right;
        padding-right: 15px;
        font-weight: bold;
      }
      #td2 {
        width: 130px;
        text-align: left;
      }
    }
    p {
      margin: 7px auto;
    }
    button {
      width: 80%;
      margin: 10px 0px;
    }
  }
}

#create_std_book {
  text-align: center;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  margin-top: 80px;
  .input {
    width: 230px;
    height: 24px;
    margin: 5px auto;
  }
  .input_select,
  .input_date {
    width: 244px;
    height: 36px;
    margin: 5px auto;
  }
  .textarea {
    width: 232px;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
  }
  #input_img {
    width: 75%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    p {
      text-align: left;
      margin: 5px 15px 5px 0;
      font-weight: bold;
      display: inline-block;
    }
    #upload {
      padding: 5px 20px;
      color: $white;
      background-color: $v2Back2;
      border-radius: 5px;
    }
  }
}
