//Background
$v2Back1: #97ea53;
$v2Back2: #80c547;
$v2Back3: #4acd16;
$v2Background: linear-gradient(180deg, $v2Back1 40%, $v2Back2 100%);

$white: #ffffff;
$white-: #f4f4f4;

$BackDarkGray: #999999;

//border
$BorderGray: #bbb;

//font color
$fontGray: #434343;

//size
$xxx-small: 0.8em;
$xx-small: 0.85em;
$x-small: 0.9em;
$small: 0.95em;
$medium: 1em;
$large: 1.05em;
$x-large: 1.1em;
$xx-large: 1.15em;

//animation
//fadein
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//fadein bottom
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
